@model MusicWorld.Models.Entities.Song

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Song</h4>
<hr />
<div class="row ml-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlMp3" class="control-label"></label>
                <input asp-for="UrlMp3" class="form-control" />
                <span asp-validation-for="UrlMp3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistsId" class="control-label"></label>
                <select asp-for="ArtistsId" class="form-control" asp-items="ViewBag.ArtistsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AlbumsId" class="control-label"></label>
                <select asp-for="AlbumsId" class="form-control" asp-items="ViewBag.AlbumsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>